.footer__top {
  display: flex;
  width: 100%;
  /* align-items: center; */
  background-color: #185a94;
  justify-content: space-around;
  color: #fff;
  z-index: 2;
}

.footer__top h1 {
  font-size: 5rem;
}
.footer__top h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.footer__logo {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__contact h2 {
  font-size: 2rem;
}

.footer__contact_ h4,
.footer__contact_ h3 {
  font-family: 400;
}

.footer__contact__head {
  display: flex;
  align-items: center;
}

.footer__vertical__line {
  width: 5px;
  height: 40px;
  background-color: var(--red);
  margin-right: 10px;
}

.footer__contact {
  padding: 5px 20px;
}

.footer__contact_ {
  display: flex;
  align-items: center;
}

.footer__contact__icon {
  width: 60px;
  height: 60px;
  border: 1px solid var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 10px;
}

.footer__bottom {
  height: 30px;
  text-align: center;
  color: white;
  background-color: #104069;
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 728px) {
  .footer__bottom {
    margin-bottom: 60px;
  }
  .footer__top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
